@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif ;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}


#homepage{
    width: 100%;
    height: max-content;
}

#logo{
    position: absolute;
    left: 200px;
    top: 25px;
    width: 150px;
    height: 35px;
}

.description{
    text-align: center;
    position: absolute;
    left: 300px;
    top: 300px;
}

#l1{
    font-size: 3em;
    padding-bottom: 10px;
}

.detail1{
    font-size: 1.5em;
    padding-bottom: 10px;
}


#lang{
   border: 1px solid gray;
   width: fit-content;
   border-radius: 2.5px;
   padding: 7px;
   display: inline;
   margin-right: 10px;
}

#signin{
    border: 1px;
    width: fit-content;
    border-radius: 2.5px;
    padding: 7px;
    background-color: red;
    font-size: 1em;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
 }

 .options{
    position: absolute;
    left: 1250px;
    top: 25px;
 }

 #email{
    border: 2px solid gray;
   width: fit-content;
   border-radius: 2.5px;
   padding: 8px;
   display: inline;
   margin-right: 10px;
   padding-right: 200px;
   font-size: 1.5em;
   /* background-color: #535C91; */
   
 }

 #start{
    border: 1px;
    width: fit-content;
    border-radius: 2.5px;
    padding: 8px;
    background-color: red;
    font-size: 1.5em;
    display: inline;
    padding-right: 30px;
 }

 .email{
    position: absolute;
    left: 500px;
    top: 460px;
 }

 hr{
    width: 100%;
    height: 2px;
    color: gray;
 }

 .detail_page{
    width: 100%;
    padding-bottom: 200px;
 }

 #l13{
    font-size: 4em;
    position: relative;
    top: 250px;
    left: 150px;
    width: 550px;

 }

  #feature13{
    /* float: right; */
    position: relative;
    left: 800px;
    width: 600px;
    height: 450px;
 }

 .feature_detail13{
    position: relative;
    top: 300px;
    left: 150px;
    width: 600px;
    font-size: 2em;
 } 
 
 #l24{
    font-size: 4em;
    position: relative;
    top: 250px;
    left: 800px;
    width: 550px;

 }

  #feature24{
    /* float: right; */
    position: relative;
    left: 100px;
    width: 600px;
    height: 450px;
 }

 .feature_detail24{
    position: relative;
    top: 300px;
    left: 800px;
    width: 600px;
    font-size: 2em;
 } 

 .wrapper {
    max-width: 75%;
    margin: auto;
  }
  
  
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
    font-size: 4em;
    padding-bottom: 50px;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: gray;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }

 #ready{
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
 }
 
 #email2{
    border: 2px solid gray;
   width: fit-content;
   border-radius: 2.5px;
   padding: 8px;
   display: inline;
   margin-right: 10px;
   padding-right: 200px;
   font-size: 1.5em;
   background-color: gray;
 }

 #start2{
    border: 1px;
    width: fit-content;
    border-radius: 2.5px;
    padding: 8px;
    background-color: red;
    font-size: 1.5em;
    display: inline;
    padding-right: 30px;
 }

 .email2{
    margin: 50px 0px 100px 500px;
 }

#questions{
    margin: 40px 0px 20px 30px;

}

#list{
    width: 800px;
        margin-left: 300px;
}

.list{
    display: inline;
    width: 500px;
    margin-right: 80px;
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: justify;
}
